<div class="about-container">
  <section>
    <h1>Sobre el proyecto</h1>
    <p>
      Este proyecto es un proyecto de catalálogo de superhéroes, creado con el objetivo de
      proporcionar una experiencia completa para los entusiastas de los cómics y los superhéroes.
    </p>
  </section>

  <section>
    <h1>Hecho por David Bernal Gutierrez - Matricula: 23040159</h1>
    <p>
      El motivo de este proyecto es aprender y aplicar los conceptos de desarrollo web con angular y
      typescript.
    </p>
  </section>

  <section>
    <h1>Contacto</h1>
    <div class="contact-section">
      <a href="https://github.com/David24122005" target="_blank" rel="noopener noreferrer">
        <img
          src="https://imgs.search.brave.com/FjOAY2Y7fyITaJL6KmfDGOK8P9CX9xA9VzF1B9xaOvo/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2IyL2M1/L2U2L2IyYzVlNjUz/ODRiMWIwZWE0Y2Qz/NTFiNjE1NWUxYjI5/LmpwZw"
          alt="Github"
        />
      </a>
      <a href="https://wa.me/526675383909" target="_blank" rel="noopener noreferrer"
        ><img
          src="https://imgs.search.brave.com/jyHreoXd6kpQYAjaQwYsvBDZ7cc5OJhzIMDYr-pJTbE/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9zdGF0/aWMudmVjdGVlenku/Y29tL3N5c3RlbS9y/ZXNvdXJjZXMvdGh1/bWJuYWlscy8wMjMv/OTg2LzU1MC9zbWFs/bC93aGF0c2FwcC1s/b2dvLXdoYXRzYXBw/LWxvZ28tdHJhbnNw/YXJlbnQtd2hhdHNh/cHAtaWNvbi10cmFu/c3BhcmVudC1mcmVl/LWZyZWUtcG5nLnBu/Zw"
          alt="Whatsapp"
      /></a>
      <a href="https://youtube.com/@vegetta777?si=NOOim9f5OtXUywGJ" target="_blank" rel="noopener noreferrer">
        <img src="https://imgs.search.brave.com/2DXij9HSn8dAC81WqwZKC9zuniUNH_RHLwucx2xf8E0/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9zdGF0/aWMudmVjdGVlenku/Y29tL3N5c3RlbS9y/ZXNvdXJjZXMvdGh1/bWJuYWlscy8wNDcv/NTgwLzQ2MS9zbWFs/bC95b3V0dWJlLXBv/cHVsYXItc29jaWFs/LW1lZGlhLWxvZ28t/ZnJlZS1wbmcucG5n" alt="Youtube" />
      </a>
    </div>
  </section>

  <footer>
    <p>&copy; 2026 Catálogo de Superhéroes. Todos los derechos reservados.</p>
    <p>Realizado para la clase de produccion digital 2d</p>
  </footer>
</div>
